
.card-grid{
    border: 3px dashed; 
    max-height: 1000px;
}
.row-grid{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}
.flex-items:nth-child(1){
    flex: 0 1 auto;
}
.flex-items:nth-child(2){
    flex: 0 1 auto;
}
.flex-items:nth-child(3){
    flex: 0 1 auto;
}
.flex-items:nth-child(4){
    flex: 0 1 auto;
}
.flex-items:nth-child(5){
    flex: 0 1 auto;
}
.flex-items:nth-child(6){
    flex: 0 1 auto;
}
.flex-items:nth-child(7){
    flex: 0 1 auto;
}
.flex-items:nth-child(8){
    flex: 0 1 auto;
}
.flex-items:nth-child(9){
    flex: 0 1 auto;
}
.flex-items:nth-child(10){
    flex: 0 1 auto;
}
.flex-items:nth-child(11){
    flex: 0 1 auto;
}
.flex-items:nth-child(12){
    flex: 0 1 auto;
}
.flex-items:nth-child(13){
    flex: 0 1 auto;
}
.flex-items:nth-child(14){
    flex: 0 1 auto;
}
.flex-items:nth-child(15){
    flex: 0 1 auto;
}
.flex-items:nth-child(16){
    flex: 0 1 auto;
}
.flex-items:nth-child(17){
    flex: 0 1 auto;
}
.flex-items:nth-child(18){
    flex: 0 1 auto;
}
